/* GLOBAL----------------------*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



/* Header----------------------*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    margin-left: 25px;
    font-size: 48px;
    background-color: #2a607c;
}

.header h1 .seo {
    color: #d9dcd6;
    background-color: #2a607c;
}

.header ul{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: #2a607c;   
}


.header ul li {
    display: inline-block;
    margin-left: 25px;
    background-color: #2a607c
}

a {
    color: #ffffff;
    text-decoration: none;
    background-color: #2a607c
}



/* Large Photo under Header---------*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*Body content--------------------*/

body {
    background-color: #d9dcd6;
}
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;

}   


h2 {
    margin-bottom: 20px;
    font-size: 36px;
    background-color: #0072bb;
}

p {
    font-size: 16px;
    background-color: #0072bb;
}


.search-engine-optimization {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;  
    margin-bottom: 20px;
    padding: 50px;
    height: 300px; 
}
    

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.content img {
    max-height: 200px;
}

  /* start of Benefits right sidebar content "side-margin"------- */ 
side-margin {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 32px;
    color: #ffffff;
    background-color: #2589bd;
}

h3 {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #2589bd;
  
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
    background-color: #2589bd;
}

p2 {
    background-color: #2589bd;
}
 
 


/* End Benefits right sidebar*/


.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
